//Couleur
$color-primary: #28499a;
$color-secondary: #089abe;
$color-tertiary: #00a8d6;
$color-pink: #C95D63;
$color-light-green: #08BE72;

//Taille maximum des containers selon le type d'écran
//$max-size-xs: 599px;
//$max-size-sm: 920px;
$max-size-md: 940px;
$max-size-lg: 1240px;
$max-size-xl: 1640px;

//Fonts
$font-raleway: 'Raleway', 'Arial';
$font-helvetica: 'Helvetica', 'Arial';


//Fonts size
$font-small-size-xs: 1.2rem;
$font-medium-size-xs: 1.4rem;
$font-large-size-xs: 1.6rem;
$font-extralarge-size-xs: 2rem;

$font-small-size-sm: 1.4rem;
$font-medium-size-sm: 1.6rem;
$font-large-size-sm: 2rem;
$font-extralarge-size-sm: 2.4rem;

//$font-small-size-md: 1.6rem;
//$font-medium-size-md: 1.8rem;
//$font-large-size-md: 2.4rem;
//$font-extralarge-size-md: 3.6rem;

$font-small-size-md: 1.4rem;
$font-medium-size-md: 1.6rem;
$font-large-size-md: 2rem;
$font-extralarge-size-md: 2.6rem;

$font-small-size-lg: 1.4rem;
$font-medium-size-lg: 1.6rem;
$font-large-size-lg: 2rem;
$font-extralarge-size-lg: 2.6rem;

//Margin X size
$margin-x-small-size-xs: 1.6rem;
$margin-x-medium-size-xs: 2.8rem;
$margin-x-large-size-xs: 3.4rem;

$margin-x-small-size-sm: 2rem;
$margin-x-medium-size-sm: 3.8rem;
$margin-x-large-size-sm: 6.4rem;

$margin-x-small-size-md: 3.6rem;
$margin-x-medium-size-md: 6.4rem;
$margin-x-large-size-md: 10rem;

$margin-x-small-size-lg: 4.2rem;
$margin-x-medium-size-lg: 7.8rem;
$margin-x-large-size-lg: 11rem;

//Margin Y size
$margin-y-medium-size-xs: 3.5rem;
$margin-y-medium-size-sm: 4.5rem;
$margin-y-medium-size-md: 6.5rem;

//Padding
$padding-x-medium-size-xs: 2rem;
$padding-x-medium-size-sm: 3rem;
$padding-x-medium-size-md: 5rem;

/*Fontweight :
  Thin : 100
  Extralight : 200
  Light : 300
  Regular : 400
  Medium : 500
  SemiBold : 600
  Bold : 700
  ExtraBold : 800
  Black : 900
*/
