//EMOJ span text
.emoj-block {
    position: relative;
    display: inline;
}

.emoj--france {
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    right: -2.5rem;
    top: calc(50% - 1rem);
    background: linear-gradient(90deg, rgba(40, 73, 154, 0.8) 0%, rgba(40, 73, 154, 0.8) 17.71%, rgba(255, 255, 255, 0.44) 49.99%, rgba(220, 45, 55, 0.8) 82.81%, rgba(220, 45, 55, 0.8) 100%);
}

button.button--primary {
    display: block;
    border: 0;
    border-radius: 5px;
    font-size: $font-medium-size-xs;
    font-family: $font-raleway;
    color: #ffffff;
    padding: 1.2rem;
    background-color: #28499A;
    cursor: pointer;

    @include sm {
        padding: 1.6rem;
        font-size: $font-medium-size-sm;
    }

    @include md {
        padding: 2rem;
        font-size: $font-medium-size-md;
    }

    @include lg {
        padding: 2.4rem;
        font-size: $font-medium-size-lg;
    }

    @include xl {
        padding: 2.4rem;
        font-size: $font-medium-size-lg;
    }

    &.pink {
        background-color: #C95D63;
    }
}

button.button--secondary {
    display: block;
    border: 1px solid;
    border-radius: 5px;
    font-size: $font-medium-size-xs;
    font-family: $font-raleway;
    color: #28499A;
    padding: 1.2rem;
    border-color: #28499A;
    background-color: transparent;
    cursor: pointer;
    transition: .3s background-color, .3s color;

    &:hover {
        background-color: #28499A !important;
        color: #ffffff !important;
    }

    @include sm {
        padding: 1.6rem;
        font-size: $font-medium-size-sm;
    }

    @include md {
        padding: 2rem;
        font-size: $font-medium-size-md;
    }

    @include lg {
        padding: 2.4rem;
        font-size: $font-medium-size-lg;
    }

    @include xl {
        padding: 2.4rem;
        font-size: $font-medium-size-lg;
    }

    &.pink {
        color: #C95D63;
        border-color: #C95D63;

        &:hover {
            background-color: #C95D63 !important;
            color: #ffffff !important;
        }
    }
}

//FORMULAIRE
.input__group {
    h3 {
        display: inline-block;
        font-family: $font-raleway;
        font-size: $font-medium-size-xs;
        font-weight: 500;
        color: #000000;

        @include sm {
            font-size: $font-medium-size-sm;
        }

        @include md {
            font-size: $font-medium-size-md;
        }

        @include lg {
            font-size: $font-medium-size-lg;
        }

        @include xl {
            font-size: $font-medium-size-lg;
        }
    }

    input,
    textarea {
        display: block;
        padding: 1rem 1.5rem;
        margin-top: 1.5rem;
        font-family: $font-raleway;
        font-size: $font-medium-size-xs;
        color: #000000;
        border: 1px solid #C4C4C4;
        border-radius: 5px;

        @include sm {
            font-size: $font-medium-size-sm;
        }

        @include md {
            font-size: $font-medium-size-md;
        }

        @include lg {
            font-size: $font-medium-size-lg;
        }

        @include xl {
            font-size: $font-medium-size-lg;
        }

        &::placeholder {
            color: #C4C4C4;
        }
    }

    &.required {

        h3 {
            position: relative;

            &:after {
                content: '*';
                position: absolute;
                top: 0;
                right: -1rem;
                font-family: $font-raleway;
                font-size: $font-medium-size-xs;
                color: $color-pink;

                @include sm {
                    font-size: $font-medium-size-sm;
                }

                @include md {
                    font-size: $font-medium-size-md;
                }

                @include lg {
                    font-size: $font-medium-size-lg;
                }

                @include xl {
                    font-size: $font-medium-size-lg;
                }
            }
        }
    }
}

.title--primary {
    display: flex;
    justify-content: center;

    @include md {
        display: block;
    }

    @include lg {
        display: block;
    }

    @include xl {
        display: block;
    }

    h1 {
        position: relative;
        display: inline-block;
        font-family: $font-raleway;
        font-weight: 900;
        font-size: $font-extralarge-size-xs;
        color: $color-primary;
        text-transform: uppercase;
        text-align: center;

        @include sm {
            font-size: $font-extralarge-size-sm;
        }

        @include md {
            font-size: $font-extralarge-size-md;
        }

        @include lg {
            font-size: $font-extralarge-size-lg;
        }

        @include xl {
            font-size: $font-extralarge-size-lg;
        }

        &::after {
            content: ' ';
            position: absolute;
            bottom: -1rem;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            width: 30%;
            border: 1px solid $color-secondary;

            @include sm {
                width: 20%;
                margin: 0;
                left: -5%;
            }

            @include md {
                width: 20%;
                margin: 0;
                left: -5%;
            }

            @include lg {
                width: 30%;
                margin: 0;
                left: -5%;
            }

            @include xl {
                width: 30%;
                margin: 0;
                left: -5%;
            }
        }
    }
}

.container {
    width: 100%;
    margin: 0 auto;
    padding-left: $padding-x-medium-size-xs;
    padding-right: $padding-x-medium-size-xs;

    @include sm {
        padding-left: $padding-x-medium-size-sm;
        padding-right: $padding-x-medium-size-sm;
    }

    @include md {
        max-width: $max-size-md;
        padding-left: 0;
        padding-right: 0;
    }

    @include lg {
        max-width: $max-size-lg;
        padding-left: 0;
        padding-right: 0;
    }

    @include xl {
        max-width: $max-size-xl;
        padding-left: 0;
        padding-right: 0;
    }
}

a.morelink {
    display: inline-block;
    position: relative;
    margin-top: calc($margin-y-medium-size-xs / 2);
    font-family: $font-raleway;
    font-weight: 700;
    font-size: $font-small-size-xs;
    color: $color-secondary;
    text-decoration: none;
    transition: opacity .4s;

    @include sm {
        margin-top: calc($margin-y-medium-size-sm / 2);
        font-size: $font-small-size-sm;
    }

    @include md {
        margin-top: calc($margin-y-medium-size-md / 2);
        font-size: $font-small-size-md;
    }

    @include lg {
        margin-top: calc($margin-y-medium-size-md / 2);
        font-size: $font-small-size-lg;
    }

    @include xl {
        margin-top: calc($margin-y-medium-size-md / 2);
        font-size: $font-small-size-lg;
    }

    &:hover {
        opacity: .8;

        img {
            transform: translateX(.4rem);
        }
    }

    img.morelink__arrow {
        position: absolute;
        height: .8rem;
        top: calc(50% - .4rem);
        right: -1.5rem;
        transition: transform .4s;
    }

    &::after {
        content: ' ';
        position: absolute;
        left: 0;
        bottom: -.5rem;
        width: 100%;
        border: .5px dashed $color-secondary;
    }
}

.link-before {
    margin-top: $margin-y-medium-size-xs + 6.5rem;
    margin-bottom: $margin-y-medium-size-xs;

    @include sm {
        margin-top: $margin-y-medium-size-sm + 6.5rem;
        margin-bottom: $margin-y-medium-size-sm;
    }

    @include md {
        margin-top: $margin-y-medium-size-md + 8rem;
        margin-bottom: $margin-y-medium-size-md;
    }

    @include lg {
        margin-top: $margin-y-medium-size-md + 10rem;
        margin-bottom: $margin-y-medium-size-md;
    }

    @include xl {
        margin-top: $margin-y-medium-size-md + 10rem;
        margin-bottom: $margin-y-medium-size-md;
    }

    a {
        position: relative;
        font-family: $font-raleway;
        font-size: $font-medium-size-xs;
        color: #000000;
        padding-left: 1rem;
        text-decoration: none;

        &:before {
            content: '<';
            position: absolute;
            line-height: $font-medium-size-xs;
            left: -1rem;
        }

        &:after {
            content: ' ';
            position: absolute;
            bottom: -.5rem;
            left: 1rem;
            width: calc(100% - 1rem);
            height: 1px;
            border: 1px dashed #000000;
        }
    }
}