.blog-article-page {
    .section1 {
        margin-top: $margin-y-medium-size-xs;

        @include sm {
            margin-top: $margin-y-medium-size-sm;
        }

        @include md {
            width: $max-size-md;
            margin-left: auto;
            margin-right: auto;
            margin-top: $margin-y-medium-size-md;
        }

        @include lg {
            width: $max-size-lg;
            margin-left: auto;
            margin-right: auto;
            margin-top: $margin-y-medium-size-md;
        }

        @include xl {
            width: $max-size-xl;
            margin-left: auto;
            margin-right: auto;
            margin-top: $margin-y-medium-size-md;
        }


        .desc {
            margin-top: $margin-y-medium-size-xs;

            @include sm {
                margin-top: $margin-y-medium-size-sm;
            }

            @include md {
                margin-top: $margin-y-medium-size-md;
            }

            @include lg {
                margin-top: $margin-y-medium-size-md;
            }

            @include xl {
                margin-top: $margin-y-medium-size-md;
            }

            p {
                font-family: $font-raleway;
                font-size: $font-medium-size-xs;
                color: #000000;
                overflow: auto;

                @include sm {
                    font-size: $font-medium-size-sm;
                }

                @include md {
                    font-size: $font-medium-size-md;
                }

                @include lg {
                    font-size: $font-medium-size-lg;
                }

                @include xl {
                    font-size: $font-medium-size-lg;
                }

                &:after {
                    clear: both;
                    display: table;
                    content: ' ';
                }
            }

            .img-shadow {
                display: none;
                float: right;
                margin-left: 1rem;
                margin-bottom: 1rem;
                position: relative;

                @include sm {
                    display: block;
                }

                @include md {
                    display: block;
                }

                @include lg {
                    display: block;
                }

                @include xl {
                    display: block;
                }

                &:before {
                    content: ' ';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    box-shadow: inset 20px 0px 20px 6px rgb(255 255 255 / 60%);
                    -moz-box-shadow: inset 20px 0px 20px 6px rgb(255 255 255 / 60%);
                    -webkit-box-shadow: inset 20px 0px 20px 6px rgb(255 255 255 / 60%);
                }

                img {
                    height: 40vw;
                    max-height: 480px;
                }
            }

        }
    }

    .section2 {
        margin-top: $margin-y-medium-size-xs;

        @include sm {
            margin-top: $margin-y-medium-size-sm;
        }

        @include md {
            width: $max-size-md;
            margin-left: auto;
            margin-right: auto;
            margin-top: $margin-y-medium-size-md;
        }

        @include lg {
            width: $max-size-lg;
            margin-left: auto;
            margin-right: auto;
            margin-top: $margin-y-medium-size-md;
        }

        @include xl {
            width: $max-size-xl;
            margin-left: auto;
            margin-right: auto;
            margin-top: $margin-y-medium-size-md;
        }

        .desc {
            margin-top: $margin-y-medium-size-xs;

            @include sm {
                margin-top: $margin-y-medium-size-sm;
            }

            @include md {
                margin-top: $margin-y-medium-size-md;
            }

            @include lg {
                margin-top: $margin-y-medium-size-md;
            }

            @include xl {
                margin-top: $margin-y-medium-size-md;
            }

            img {
                width: 100%;
                max-width: 920px;
            }

            p {
                font-family: $font-raleway;
                font-size: $font-medium-size-xs;
                color: #000000;
                margin-top: $margin-y-medium-size-xs;

                @include sm {
                    font-size: $font-medium-size-sm;
                    margin-top: $margin-y-medium-size-sm;
                }

                @include md {
                    font-size: $font-medium-size-md;
                    margin-top: $margin-y-medium-size-md;
                }

                @include lg {
                    font-size: $font-medium-size-lg;
                    margin-top: $margin-y-medium-size-md;
                }

                @include xl {
                    font-size: $font-medium-size-lg;
                    margin-top: $margin-y-medium-size-md;
                }
            }

        }
    }

    .section3 {
        margin-top: $margin-y-medium-size-xs;
        margin-bottom: $margin-y-medium-size-xs; // COMBAK: revenir plus tard et supprimer ça - mettre le style directement sur le footer

        @include sm {
            margin-top: $margin-y-medium-size-sm;
            margin-bottom: $margin-y-medium-size-sm; // COMBAK: revenir plus tard et supprimer ça - mettre le style directement sur le footer
        }

        @include md {
            width: $max-size-md;
            margin-left: auto;
            margin-right: auto;
            margin-top: $margin-y-medium-size-md;
            margin-bottom: $margin-y-medium-size-md; // COMBAK: revenir plus tard et supprimer ça - mettre le style directement sur le footer
        }

        @include lg {
            width: $max-size-lg;
            margin-left: auto;
            margin-right: auto;
            margin-top: $margin-y-medium-size-md;
            margin-bottom: $margin-y-medium-size-md; // COMBAK: revenir plus tard et supprimer ça - mettre le style directement sur le footer
        }

        @include xl {
            width: $max-size-xl;
            margin-left: auto;
            margin-right: auto;
            margin-top: $margin-y-medium-size-md;
            margin-bottom: $margin-y-medium-size-md; // COMBAK: revenir plus tard et supprimer ça - mettre le style directement sur le footer
        }

        .cards {
            margin-top: $margin-y-medium-size-xs;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 4vw;

            @include sm {
                margin-top: $margin-y-medium-size-sm;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 4vw;
            }

            @include md {
                margin-top: $margin-y-medium-size-md;
                width: $max-size-md;
                margin-left: auto;
                margin-right: auto;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 6vw;
            }

            @include lg {
                margin-top: $margin-y-medium-size-md;
                width: $max-size-lg;
                margin-left: auto;
                margin-right: auto;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 4vw;
            }

            @include xl {
                margin-top: $margin-y-medium-size-md;
                width: $max-size-xl;
                margin-left: auto;
                margin-right: auto;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 4vw;
            }

            .card {
                position: relative;
                font-family: $font-raleway;
                background-color: #000000;
                box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
                border-radius: 13px;
                width: 100%;
                z-index: 0;

                .card__img {
                    position: absolute;
                    z-index: -10;
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    opacity: 0.8;
                    border-radius: 13px;
                }

                .card__content {
                    z-index: 5;
                    padding: $padding-x-medium-size-xs;

                    @include sm {
                        padding: $padding-x-medium-size-sm;
                    }

                    @include md {
                        padding: $padding-x-medium-size-md;
                    }

                    @include lg {
                        padding: $padding-x-medium-size-md;
                    }

                    @include xl {
                        padding: $padding-x-medium-size-md;
                    }

                    .card__content__title {
                        font-size: $font-large-size-xs;
                        font-weight: 900;
                        color: #ffffff;
                        text-transform: uppercase;

                        @include sm {
                            font-size: $font-large-size-sm;
                        }

                        @include md {
                            font-size: $font-large-size-md;
                        }

                        @include lg {
                            font-size: $font-large-size-lg;
                        }

                        @include xl {
                            font-size: $font-large-size-lg;
                        }
                    }

                    .card__content__desc {
                        margin-top: calc($margin-y-medium-size-xs / 2);
                        font-size: $font-medium-size-xs;
                        color: #ffffff;

                        @include sm {
                            margin-top: calc($margin-y-medium-size-sm / 2);
                            font-size: $font-medium-size-sm;
                        }

                        @include md {
                            margin-top: calc($margin-y-medium-size-md / 2);
                            font-size: $font-medium-size-md;
                        }

                        @include lg {
                            margin-top: calc($margin-y-medium-size-md / 2);
                            font-size: $font-medium-size-lg;
                        }

                        @include xl {
                            margin-top: calc($margin-y-medium-size-md / 2);
                            font-size: $font-medium-size-lg;
                        }
                    }

                    .card__content__btn {
                        display: block;
                        margin-top: calc($margin-y-medium-size-xs / 2);
                        margin-left: auto;
                        margin-right: auto;
                        width: 60%;
                        padding: 1.2rem;
                        border: 0;
                        border-radius: 5px;
                        background-color: rgba(#ffffff, .6);
                        cursor: pointer;

                        @include sm {
                            width: 100%;
                            padding: 1.6rem;
                            margin-top: calc($margin-y-medium-size-sm / 2);
                        }

                        @include md {
                            width: 100%;
                            padding: 2rem;
                            margin-top: calc($margin-y-medium-size-md / 2);
                        }

                        @include lg {
                            width: 100%;
                            padding: 2.4rem;
                            margin-top: calc($margin-y-medium-size-md / 2);
                        }

                        @include xl {
                            width: 100%;
                            padding: 2.4rem;
                            margin-top: calc($margin-y-medium-size-md / 2);
                        }

                        p {
                            display: inline-block;
                            font-size: $font-medium-size-xs;
                            font-weight: 900;
                            color: $color-primary;
                            text-transform: uppercase;
                            margin-left: 1.5rem;
                            position: relative;

                            @include sm {
                                font-size: $font-medium-size-sm;
                            }

                            @include md {
                                font-size: $font-medium-size-md;
                            }

                            @include lg {
                                font-size: $font-medium-size-lg;
                            }

                            @include xl {
                                font-size: $font-medium-size-lg;
                            }

                            &:before {
                                content: '>';
                                position: absolute;
                                top: 0;
                                left: -1.5rem;
                                color: $color-secondary;
                                line-height: $font-medium-size-xs;

                                @include sm {
                                    line-height: $font-medium-size-sm;
                                }

                                @include md {
                                    line-height: $font-medium-size-md;
                                }

                                @include lg {
                                    line-height: $font-medium-size-lg;
                                }

                                @include xl {
                                    line-height: $font-medium-size-lg;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}